<div class="container">
  <h1>Students list</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addSale()" />
<form>
  <input type="file" (change)="selectFile($event)">
  <button class="btn btn-success"(click)="onSubmit()">Send file</button>
</form>
<table  class="table table-striped">
    <thead>
        <tr>
        <!--    <td>Id</td>
            <td>Customer id</td>  -->
            <td>Customer name</td>
        <!--    <td>Segment</td>  -->
            <td>Order date</td>
            <td>Ship date</td>
            <!-- <td>Ship mode</td> -->
            <td>Country</td>
            <!-- <td>State</td> -->
            <td>City</td>
            <!-- <td>Region</td> -->
            <!-- <td>Postal code</td>
            <td>Product id</td> -->
            <td>Product name</td>
            <td>Category</td>
            <!-- <td>Sub-category</td> -->
            <td>Sales</td>
            <td>Quantity</td>
            <!-- <td>Discount</td> -->
            <td>Profit</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sale of sales">
            <ng-template [ngTemplateOutlet]="loadTemplate(sale)" 
                        [ngTemplateOutletContext]="{ $implicit: sale}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
    
    
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-sale>
    <!-- <td>{{sale.id}}</td>
    <td>{{sale.customerId}}</td> -->
    <td>{{sale.customerName}}</td>
    <!-- <td>{{sale.segment}}</td> -->
    <td>{{sale.orderDate}}</td>
    <td>{{sale.shipDate}}</td>
    <!-- <td>{{sale.shipMode}}</td> -->
    <td>{{sale.country}}</td>
    <!-- <td>{{sale.state}}</td> -->
    <td>{{sale.city}}</td>
    <!-- <td>{{sale.region}}</td>
    <td>{{sale.postalCode}}</td>
    <td>{{sale.productId}}</td> -->
    <td>{{sale.productName}}</td>
    <td>{{sale.category}}</td>
    <!-- <td>{{sale.subCategory}}</td> -->
    <td>{{sale.sales}}</td>
    <td>{{sale.quantity}}</td>
    <!-- <td>{{sale.discount}}</td> -->
    <td>{{sale.profit}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editSale(sale)" />
    </td>
    <td>
        <input type="button" value="Удалить" (click)="deleteSale(sale)" class="btn btn-danger" />
    </td>
</ng-template>
   
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">Sale id</label>
        <input type="text" [(ngModel)]="editedSale.id" readonly disabled class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>        
      <label style="vertical-align: middle; display: inline; font-size: small;">Customer id</label>  
        <input type="text" [(ngModel)]="editedSale.customerId" class="form-control" style="vertical-align: middle; display: inline;margin-top: 1rem;font-size: small;padding: 0%;"/>
    </td>
    <td>
        <label style="vertical-align: middle; display: inline; font-size: small;">Customer name</label>
        <input type="text" [(ngModel)]="editedSale.customerName" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
        <label style="vertical-align: middle; display: inline; font-size: small;">Segment</label>
        <input type="text" [(ngModel)]="editedSale.segment" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">Order date</label>
        <input type="text" [(ngModel)]="editedSale.orderDate" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
        <label style="vertical-align: middle; display: inline; font-size: small;">Ship date</label>
        <input type="text" [(ngModel)]="editedSale.shipDate" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">Ship mode</label>
        <input type="text" [(ngModel)]="editedSale.shipMode" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
        <label style="vertical-align: middle; display: inline; font-size: small;">Country</label>
        <input type="text" [(ngModel)]="editedSale.country" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">State</label>
        <input type="text" [(ngModel)]="editedSale.state" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
        <label style="vertical-align: middle; display: inline; font-size: small;">City</label>
        <input type="text" [(ngModel)]="editedSale.city" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">Region</label>
        <input type="text" [(ngModel)]="editedSale.region" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
        <label style="vertical-align: middle; display: inline; font-size: small;">Postal code</label>
        <input type="text" [(ngModel)]="editedSale.postalCode" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">Product id</label>
        <input type="text" [(ngModel)]="editedSale.productId" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
        <label style="vertical-align: middle; display: inline; font-size: small;">Product name</label>
        <input type="text" [(ngModel)]="editedSale.productName" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">Category</label>
        <input type="text" [(ngModel)]="editedSale.category" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
        <label style="vertical-align: middle; display: inline; font-size: small;">Sub-category</label>
        <input type="text" [(ngModel)]="editedSale.subCategory" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">Sales</label>
        <input type="number" [(ngModel)]="editedSale.sales" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
        <label style="vertical-align: middle; display: inline; font-size: small;">Quantity</label>
        <input type="number" [(ngModel)]="editedSale.quantity" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
      <label style="vertical-align: middle; display: inline; font-size: small;">Discount</label>
      <input type="number" [(ngModel)]="editedSale.discount" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
      <label style="vertical-align: middle; display: inline; font-size: small;">Profit</label>
        <input type="number" [(ngModel)]="editedSale.profit" class="form-control" style="vertical-align: middle; display: inline;font-size: small;padding: 0%;"/>
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveSale()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>
</div>
